<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/colors.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="icon" sizes="100x100" type="image/x-icon" href="{% static 'images/oblivious-logo.jpg' %}">
    <title>OBLIVIOUS RESTAURANT</title>
</head>
<body>
    <!-- nav-bar -->
    <div class="wrapper">
        <nav class="nav-bar">
            <div class="logo">
                 <img src="{% static 'images/oblivious-logo.jpg' %}" alt="image" class="logo-img" style="width: 138px;">
            </div>
                    <ul class="nav-items">
                        <li><a href="main.html">home</a></li>
                        <li><a href="experience.html">experience</a></li>
                        <li><a href="book.html">book</a></li>
                        <li><a href="contact.html">contact</a></li>
                    </ul>
        </nav>
    </div>
    <section>
        <!-- hero section -->
        <div class="main-container">
            <div class="hero-img">
                <img src="{% static 'images/blind-fold.jpg' %}" alt="blind-fold-image">
            </div>
            <h1 class="hero-text">oblivious restaurant</h1>
        </div>
    </section>
    
    <div class="about-preview">
        <div class="about-img">
            <img src="{% static 'images/smoked-dish.jpg' %}" alt="smoked-dish-on-table">
        </div>
        <div class="about-content">
        <h2>about us</h2>
        <p class="about-p">lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dumm
            lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dumm
        </p>
        <button><a href="about.html">find out more</a></button>
    </div>
</div>
<section class="team-section">
    <div class="experience-info">
        <h2>meet the team</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been thepecimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsu</p>
    </div>
    <div class="experience-container">
        <div class="menu-card">
            <div class="imgBx">
                <img src="{% static 'images/restauranteur.jpg' %}" alt="card-image">
            </div>
            <div class="card-content">
                <h3>Restauranteur - Samantha Porter</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 
                    Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when1500s,</p>
            </div>
        </div>
        <div class="menu-card">
            <div class="imgBx">
                <img src="{% static 'images/executive-chef.jpg' %}" alt="card-image">
            </div>
            <div class="card-content">
                <h3>executive head chef - Eric Chen</h3>
                <p>Lorem Ipsum is simplyorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 
                    Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when1500s dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
            </div>
        </div>
        <div class="menu-card">
            <div class="imgBx">
                <img src="{% static 'images/marketing-manager.jpg' %}" alt="card-image">
            </div>
            <div class="card-content">
                <h3>marketing executive - Melisa copper</h3>
                <p>Lorem Ipsum is simply dummy orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 
                    Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when1500stext of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
            </div>
        </div>
        <div class="menu-card">
            <div class="imgBx">
                <img src="{% static 'images/somelier.jpg' %}" alt="card-image">
            </div>
            <div class="card-content">
                <h3>somelier - Brenda mcCartie </h3>
                <p>Lorem Ipsum is simply dummy text oforem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 
                    Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when1500s the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
            </div>
        </div>
        <div class="menu-card">
            <div class="imgBx">
                <img src="{% static 'images/sous-chef.jpg' %}" alt="card-image">
            </div>
            <div class="card-content">
                <h3>sous chef - damian ramirez</h3>
                <p>Lorem Ipsum is simply dummy text oforem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 
                    Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when1500s the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
            </div>
        </div>
        <div class="menu-card">
            <div class="imgBx">
                <img src="{% static 'images/pastry-chef.jpg' %}" alt="card-image">
            </div>
            <div class="card-content">
                <h3>executive pastry chef - vanessa lawless</h3>
                <p>Lorem Ipsum is simply dummy text oforem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 
                    Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when1500s the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
            </div>
        </div>
    </div>
</section>
<section class="private-dinning-section">
    <div class="private-dinning">
        <div class="private-din-img">
            <img src="{% static 'images/chefs-table-hero-1.jpg' %}" alt="smoked-dish-on-table">
        </div>
        <div class="private-din-content">
        <h2>private dinning</h2>
        <p class="private-p">lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dumm
            lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dumm
        </p>
        <button class="btn"><a href="contact.html">contact us</a></button>
    </div>
</div>
</section>

  <script src="{% static 'javascript/main.js' %}"></script>
</body>
</html>